* {
    padding:5px;
    margin:5px;
}
body {
    background-color: #006262;
}

#container {
    width:700px;
    height:1000px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    background-color: #fff;
    padding: 10px;
}
#body1{
    background-color: beige;
    font-size: 20px;
    padding-right:5px;
    text-align: right;
    margin-bottom: 5px;
    margin-top: 10px;
    color:blue;
}
#body2 {
    background-color: bisque;
    font-size: 20px;
    padding-left:25px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    color:#006262;
}
#body1 p{
margin-top:10px;
}
#body2 p{
    margin-top:10px;
}

#body2 img {
    float: right;
}